<link rel="stylesheet" href="../../../resources/css/seat.css">
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <!-- 자바스크립트 라이브러리 -->
    <script src="../../../resources/js/jquery-3.6.0.min.js"></script>


    <section id="tSection">
        <div id="title">영화예매</div><br>
        <span id="infospan">영화 예매를 순서대로 진행해주세요.</span>
            <div id="info"><img src="../../../resources/image/tagbox.png" id="tagbox">
                <span id="step"> 영화 &gt; 좌석 &gt; 결제 3단계로 이루어져 있습니다.</span>
            </div>
            <hr id="hr">
                <div id="tagtitle1"><img src="../../../resources/image/tag_gray.png" id="tag"> 영화예매</div>
                <div id="tagtitle2"><img src="../../../resources/image/tag.png" id="tag"> 좌석선택</div>
                    <div id="bottom">
                        <div id="tagdiv1"></div>
                        <div id="tagdiv2"></div>
                        <div id="tagdiv3"></div>
                    </div>
    <div id="seatinfo">
        <div><img src="../../../resources/image/box_gray.png">예매완료</div>
        <div><img src="../../../resources/image/box_gray2.png">선택가능</div>
        <div><img src="../../../resources/image/box_check.png" id="checkbox">선택좌석</div>
    </div>

    <div id="btn">
        <button type="submit" class="btn" onclick="">
            <p id="p1">PREV STEP</p>
            <p id="p2"><span id="p3"><</span>-------------------------------</p>
            <em id="p2">chosee a movie</em>
        </button>
        <button type="submit" class="btn" onclick="">
            <p id="p1">NEXT STEP</p>
            <p id="p2">-------------------------------<span id="p3">> </span></p>
            <em id="p2">chosee a payment</em>
        </button>
    </div>

</section>

</body>
</html>