<link rel="stylesheet" href="../../../resources/css/ticketing.css">
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

<!-- 코드 전면 수정 및 css 분리, 부트 스트랩 미적용, jsp 전환 예정 -->

    <section id="tSection">
    <div style="font-weight:bold;font-size:32px;" class="">영화예매</div>
    <span style="color: rgb(158, 158, 158); font-size: medium;">영화 예매를 순서대로 진행해주세요.</span>
        <!-- 이미지 재배치할 것 -->
        <svg  width="32" height="32" viewBox="0 0 32 32" fill="rgb(211, 84, 0)" data-svg-content="true"><g><path d="M 20,22c 1.104,0, 2-0.896, 2-2L 22,12 c0-1.104-0.896-2-2-2L 12,10 C 10.896,10, 10,10.896, 10,12l0,8 c0,1.104, 0.896,2, 2,2L 20,22 z"></path></g></svg>
        <div style="font-size: 16px; text-align: right;"><span style="text-align: right; color: rgb(127, 127, 127);">영화 &gt; 좌석 &gt; 결제 3단계로 이루어져 있습니다.</span></div>
        <hr>
        <br>
        <br>
        <br>
        <!-- tag 이미지 재배치 -->
        <div style="background-image:url();"></div>
        <div style="font-weight:bold;font-size:18px" class="">영화예매</div>
        <br><br>
        

        <div style="position: absolute; top: 432px; left: 117px; width: 318px; height: 5px;"><div style="background-color: rgb(244, 217, 91);"></div></div>
        <div style="background-color: rgb(244, 217, 91);"></div>
        <div style="position: absolute; top: 432px; left: 117px; width: 318px; height: 5px;"><div style="background-color: rgb(244, 217, 91);"></div></div>
        <div style="position: absolute; top: 432px; left: 440px; width: 318px; height: 5px;"><div style="background-color: rgb(224, 224, 224);"></div></div>
        <div style="background-color: rgb(224, 224, 224);"></div>
        <div style="position: absolute; top: 432px; left: 440px; width: 318px; height: 5px;"><div style="background-color: rgb(224, 224, 224);"></div></div>
        <div style="position: absolute; top: 431px; left: 766.9px; width: 318px; height: 5px;"><div style="background-color: rgb(224, 224, 224);"></div></div>
        <div style="background-color: rgb(224, 224, 224);"></div>

        <!-- tag 이미지 -->
        <div style="background-image:url();"></div>
        <div style="font-weight: bold; font-size: 24px; text-align: justify;" class="" spellcheck="false">영화 선택</div>

        <!-- 영화 포스터 데이터 (포스트 이미지 list로?) -->
        <div>post1</div>
        <div>post2</div>
        <div>post3</div>
        <div>post4</div>
        <div>post5</div>

        <br>
        <div style="font-size: 16px; color: rgb(255, 255, 255); line-height: 2.5em; border-radius: 4px; background-color: rgb(63, 55, 59); text-align: justify;" class="">&nbsp&nbsp&nbsp&nbsp 선택하신 영화 : </div>
        <br><br>
        <!-- tag 이미지 -->
        <div style="background-image:url(/static/imagefarm/101121440/JO9oyUcoaPld65Q5Ldv8mJUtZtRAGXvX);"></div>
        <div style="font-weight: bold; font-size: 24px; text-align: justify;" class="">영화관 선택</div>
        
        <div style="font-weight:bold;font-size:18px" class=""><span style="color: rgb(158, 158, 158); font-size: medium;">선택하신 영화가 상영되는 영화관만 표시됩니다.</span></div>
        <br>

        <!-- 영화관 선택 / 클릭 시 배경색 변경 (div 포지션 변경할 것) -->
        <div style="float: left; left: 112.912px; width: 163px; height: 40px;"><div style="font-size: 16px; color: rgb(255, 255, 255); line-height: 2.5em; border-radius: 4px; background-color: rgb(244, 217, 91); text-align: center;" class=""><span style="color: rgb(0, 0, 0);">서울</span></div></div>
        <div style="float: left; left: 275px; width: 163px; height: 40px;"><div style="font-size: 16px; color: rgb(63, 55, 59); text-align: center; line-height: 2.5em; border-radius: 4px; background-color: rgb(255, 255, 255); border-width: 1px; border-style: solid; border-color: rgb(63, 55, 59);" class="">경기</div></div>
        <div style="float: left; left: 438px; width: 163px; height: 40px;"><div style="font-size: 16px; color: rgb(63, 55, 59); text-align: center; line-height: 2.5em; border-radius: 4px; background-color: rgb(255, 255, 255); border-width: 1px; border-style: solid; border-color: rgb(63, 55, 59);" class="" spellcheck="false">인천/강원</div></div>
        <div style="float: left; left: 602.112px; width: 163px; height: 40px;"><div style="font-size: 16px; color: rgb(63, 55, 59); text-align: center; line-height: 2.5em; border-radius: 4px; background-color: rgb(255, 255, 255); border-width: 1px; border-style: solid; border-color: rgb(63, 55, 59);" class="">대전/충청</div></div>
        <div style="float: left; left: 765px; width: 163px; height: 40px;"><div style="font-size: 16px; color: rgb(63, 55, 59); text-align: center; line-height: 2.5em; border-radius: 4px; background-color: rgb(255, 255, 255); border-width: 1px; border-style: solid; border-color: rgb(63, 55, 59);" class="">대구/부산/울산</div></div>
        <div style="float: left; left: 928px; width: 163px; height: 40px;"><div style="font-size: 16px; color: rgb(63, 55, 59); text-align: center; line-height: 2.5em; border-radius: 4px; background-color: rgb(255, 255, 255); border-width: 1px; border-style: solid; border-color: rgb(63, 55, 59);" class="">광주/전라/제주</div></div>
        <div style="float: left; left: 113px; width: 979px; height: 51px;"><div style="font-size: 16px; color: rgb(63, 55, 59); text-align: justify; line-height: 3em; border-radius: 4px; background-color: rgb(255, 255, 255); border-width: 1px; border-style: solid; border-color: rgb(63, 55, 59);" class="" spellcheck="false">     ㆍ 강남   ㆍ 영등포   ㆍ <span style="font-weight: bold; text-decoration-line: underline;">용산</span>   ㆍ 잠실   ㆍ 홍대</div></div>
    
        <br><br><br><br><br>

        <!-- tag 이미지 삽입 -->
        <div style="background-image:url();"></div>
        <div style="font-weight: bold; font-size: 24px; text-align: justify;" class=""><p>상영 날짜</p></div>

        <!-- 달력 이미지 삽입-->
        <div style="font-weight:bold;font-size:18px" class="">DATE</div>
        <input type="text" data-min-width="60" data-min-height="30" value="날짜를 선택해주세요." style="color: rgb(94, 94, 94);" spellcheck="false" class="">

        <br><br><br>
        <!-- tag 이미지 -->
        <div style="font-weight: bold; font-size: 24px; text-align: justify;" class="" spellcheck="false">시간 선택</div>
        <div style="font-weight:bold;font-size:18px" class=""><span style="color: rgb(158, 158, 158); font-size: medium;">시간이 안 나올 경우 상영날짜를 변경해주세요.</span></div>

        <div style="font-size: 16px; color: rgb(63, 55, 59); text-align: justify; line-height: 4em; border-radius: 4px; background-color: rgb(224, 224, 224); border-width: 1px; border-style: solid; border-color: rgb(63, 55, 59);" class=""><span style="color: rgb(64, 64, 64);"><span style="font-weight: bold; font-size: large;">&nbsp&nbsp&nbsp&nbsp 영화관명</span></span></div><br>
        <div style="font-size: 16px; color: rgb(255, 255, 255); line-height: 2.5em; border-radius: 4px; background-color: rgb(63, 55, 59); text-align: justify;" class="">&nbsp&nbsp&nbsp 선택하신 시간 : </div>

    </section>

</body>
</html>