@charset "utf-8";
/* ============= 전체 =============*/
html,
body {
    margin: 0;
    font-family: "맑은 고딕";
    font-size: 18px;
}


a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
}

* {
    box-sizing: border-box;
    /* 박스 padding 지정 시 박스 안에서 만들어지게 (안쓰면 박스 사이즈가 여백만큼 들어가서 더 커진다.) */
}

ul {
    padding-left: 0px;
}

/* ============= 메인 =============*/


/* 배너 */
.carousel-inner > .carousel-item > img{
    width: 640px;
    height: 720px;
}


/* 틀 */
.container {
    width: 100%;
    min-width: 1100px;
    min-height: 100%;
    margin: -92px 0 -200px 0;
    padding: 92px 0 300px 0;
}

#contents {
    width: 100%;
    margin: 0;
    padding: 40px 0 0 0;
}

.inner-wrap {
    width: 1100px;
    margin: 0 auto;
}



/* 무비 */
.title {
    padding-top: 30px;
}
.movie_title {margin-bottom: 60px;}
.movie_title ul {overflow: hidden; width: 630px; margin: 0 auto;}
.movie_title li {float: left; width: 210px; text-align: center; border: 1px solid #c4c4c4; margin-right: -1px;}
.movie_title li a {display: block; padding: 15px 0; font-size: 18px; color: #666; font-weight: 700;}
.movie_title li.active a {background: #333; color: #fff;}

ol, ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ol, ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.movie-list ol {
    margin-left: -60px;
}

.movie-list ol li {
    overflow: hidden;
    position: relative;
    float: left;
    width: 220px;
    height: 485px;
    margin: 0 0 0 60px;
    padding: 0;
    background-color: #fff;
}

#movieList .movie-list-info img {
    width: 220px; height: 351px;
}

.movie-list > div > ol > li > .infor {background: #fff; padding: 17px; border: 1px solid #d9d9d9;}
.movie-list > div > ol > li > .infor h3 {color: #333; font-size: 30px; font-weight: 700; margin-bottom: 20px;}

#tag {height: 15px;}
#subtitle {font-weight: bold; font-size: 24px; margin-top: 0px; margin-bottom: 0px;}

/* 영화등급 ========== */
/* icon */
.icon {display:inline-block; width:29px;height:29px;line-height:25px; font-size:0;text-align:center;vertical-align:middle; margin-top: -9px;}
.icon:before {margin-left:-1px; font-size:13px; font-weight:bold; color:#FFF; white-space:nowrap;}
.icon.gr_non	 {background-color:#777777;}
.icon.gr_all	 {background-color:#5BC77E;}
.icon.gr_12		 {background-color:#4DD6FF;}
.icon.gr_15		 {background-color:#FFC134;}
.icon.gr_18		 {background-color:#ED4C6B;}
.icon.gr_all_eng	 {background-color:#5BC77E;}
.icon.gr_18_eng		 {background-color:#ED4C6B;}
.icon.gr_non:before	 {content:"미정"; font-size:11px;}
.icon.gr_all:before	 {content:"전체"; font-size:11px;}
.icon.gr_12:before	 {content:"12"; font-family:"Roboto";}
.icon.gr_15:before	 {content:"15"; font-family:"Roboto";}
.icon.gr_18:before	 {content:"청불"; font-size:11px;}
.icon.gr_all_eng:before	 {content:"ALL"; font-size:11px;}
.icon.gr_18_eng:before	 {content:"19";}
