<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.kh.sum.myPage.model.mapper.MyBookingMapper">

	<resultMap type="Ticketing" id="MyBookingListResultMap">
		<id property="no" column="TICKET_NO"/>
		<result property="rowNum" column="RNUM"/>
		<result property="movieTitle" column="MOVIE_TITLE"/>
		<result property="cinemaName" column="CINEMA_NAME"/>
		<result property="showDate" column="SHOW_DATE"/>
		<result property="ticketDate" column="TICKET_DATE"/>
		<result property="memberNo" column="MEMBER_NO"/>
		<result property="showNo" column="SHOW_NO"/>
		<result property="status" column="STATUS"/>
	</resultMap>

    <!-- 회원별 예매 수 조회 -->
	<select id="selectMyBookingCount" parameterType="_int" resultType="_int">
		SELECT COUNT(*) FROM TICKETING WHERE STATUS='Y' AND MEMBER_NO = #{loginMemberNo}
	</select>

	<!-- 회원별 예매 내역 조회 -->
	<select id="selectAll" parameterType="_int" resultMap="MyBookingListResultMap" >
		SELECT ROWNUM AS RNUM, TICKET_NO, MOVIE_TITLE, CINEMA_NAME, 
		        SHOW_DATE, TICKET_DATE, MEMBER_NO, SHOW_NO, STATUS
		FROM(    
		SELECT  T.TICKET_NO,
		        T.MOVIE_TITLE,
		        T.CINEMA_NAME,
		        T.SHOW_DATE,
		        T.TICKET_DATE,
		        T.MEMBER_NO,
		        T.SHOW_NO,
		        T.STATUS
		FROM TICKETING T
		JOIN MEMBER M ON(T.MEMBER_NO = M.MEMBER_NO)
		WHERE T.STATUS = 'Y' AND T.MEMBER_NO = #{loginMemberNo}
		ORDER BY T.TICKET_NO)
		ORDER BY RNUM DESC
	</select>
	
	
</mapper>
