<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.kh.sum.movie.model.mapper.MovieListMapper">
	<sql id="selectMovieSql">
		SELECT
			MOVIE_NO,
			MEMBER_NO,
			MOVIE_TITLE,
			MOVIE_GENRE,
			MOVIE_RELEASE,
			MOVIE_DIRECTOR,
			MOVIE_CAST,
			MOVIE_RATING,
			MOVIE_TRAILER,
			MOVIE_POSTER,
			RENAMED_POSTER,
			MOVIE_STATUS,
			IMG,
			RENAMED_IMG,
			MOVIE_SUMMARY,
			PRICE,
			READCOUNT,
			MOVIE_COMMENT,
			MOVIE_GRADE,
			CREATE_DATE
		FROM MOVIE_INFO
	</sql>
	
	<resultMap type="MovieList" id="movieListResultMap">
		<id property="movieNo" column="MOVIE_NO"/>
		<result property="memberNo" column="MEMBER_NO"/>
		<result property="movieTitle" column="MOVIE_TITLE"/>
		<result property="movieGenre" column="MOVIE_GENRE"/>
		<result property="movieRelease" column="MOVIE_RELEASE"/>
		<result property="movieDirector" column="MOVIE_DIRECTOR"/>
		<result property="movieCast" column="MOVIE_CAST"/>
		<result property="movieRating" column="MOVIE_RATING"/>
		<result property="movieTrailer" column="MOVIE_TRAILER"/>
		<result property="moviePoster" column="MOVIE_POSTER"/>
		<result property="renamedPoster" column="RENAMED_POSTER"/>
		<result property="movieStatus" column="MOVIE_STATUS"/>		
		<result property="img" column="IMG"/>		
		<result property="renamedImg" column="RENAMED_IMG"/>		
		<result property="movieSummary" column="MOVIE_SUMMARY"/>		
		<result property="price" column="PRICE"/>		
		<result property="readCount" column="READCOUNT"/>		
		<result property="movieComment" column="MOVIE_COMMENT"/>		
		<result property="movieGrade" column="MOVIE_GRADE"/>		
		<result property="createDate" column="CREATE_DATE"/>		
	</resultMap>
	
	<!-- 현재상영영화 조회 --> 
	<select id="selectAll" resultMap="movieListResultMap">
		<include refid="selectMovieSql"></include>
		WHERE SYSDATE >= MOVIE_RELEASE AND MOVIE_STATUS = 'Y'
		ORDER BY MOVIE_NO DESC
	</select>
	
	<!-- 상영예정영화 조회 --> 
	<select id="selectFuture" resultMap="movieListResultMap">
		<include refid="selectMovieSql"></include>
		WHERE MOVIE_RELEASE > SYSDATE AND MOVIE_STATUS = 'Y'
		ORDER BY MOVIE_NO DESC
	</select> 

	<!-- 내가 선택한 장르 영화 조회 -->
	<select id="getMoviebyGenre" resultMap="movieListResultMap">
		<include refid="selectMovieSql"></include>
		WHERE MOVIE_GENRE LIKE #{genre} AND MOVIE_STATUS ='Y'
		ORDER BY MOVIE_RELEASE DESC
	</select> 

	<!-- 메인 현재상영영화 랭킹 4위까지 조회 -->
	<select id="select4" resultMap="movieListResultMap">
		<![CDATA[SELECT ROW_NUMBER() OVER(ORDER BY TICKETS DESC) RANKS, 
			B.MOVIE_NO,
			B.MEMBER_NO,
			B.MOVIE_TITLE,
			B.MOVIE_GENRE,
			B.MOVIE_RELEASE,
			B.MOVIE_DIRECTOR,
			B.MOVIE_CAST,
			B.MOVIE_RATING,
			B.MOVIE_TRAILER,
			B.MOVIE_POSTER,
			B.RENAMED_POSTER,
			B.MOVIE_STATUS,
			B.IMG,
			B.RENAMED_IMG,
			B.MOVIE_SUMMARY,
			B.PRICE,
			B.READCOUNT,
			B.MOVIE_COMMENT,
			B.MOVIE_GRADE,
			B.CREATE_DATE
		FROM MOVIE_INFO B
		INNER JOIN (SELECT MOVIE_TITLE, 
                    COUNT(MOVIE_TITLE) AS TICKETS
        FROM TICKETING 
        GROUP BY MOVIE_TITLE) A on (B.MOVIE_TITLE= A.MOVIE_TITLE)
        WHERE ROWNUM < 5 AND B.MOVIE_STATUS= 'Y' AND SYSDATE >= B.MOVIE_RELEASE]]>
	</select>
	
	<!-- 상영예정영화 조회 --> 
	<select id="selectFuture4" resultMap="movieListResultMap">
		<![CDATA[SELECT ROW_NUMBER() OVER(ORDER BY MOVIE_NO) RANKS, 
			MOVIE_NO,
			MEMBER_NO,
			MOVIE_TITLE,
			MOVIE_GENRE,
			MOVIE_RELEASE,
			MOVIE_DIRECTOR,
			MOVIE_CAST,
			MOVIE_RATING,
			MOVIE_TRAILER,
			MOVIE_POSTER,
			RENAMED_POSTER,
			MOVIE_STATUS,
			IMG,
			RENAMED_IMG,
			MOVIE_SUMMARY,
			PRICE,
			READCOUNT,
			MOVIE_COMMENT,
			MOVIE_GRADE,
			CREATE_DATE
		FROM MOVIE_INFO
        WHERE ROWNUM < 5 AND MOVIE_STATUS= 'Y' AND SYSDATE < MOVIE_RELEASE]]>
	</select> 
	
</mapper>