<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.kh.sum.movie.model.mapper.MovieDetailMapper">
	<sql id="MovieDetailSql">
		SELECT
			MOVIE_NO,
			MEMBER_NO,
			MOVIE_TITLE,
			MOVIE_GENRE,
			MOVIE_RELEASE,
			MOVIE_DIRECTOR,
			MOVIE_CAST,
			MOVIE_RATING,
			MOVIE_TRAILER,
			MOVIE_POSTER,
			RENAMED_POSTER,
			MOVIE_STATUS,
			IMG,
			RENAMED_IMG,
			MOVIE_SUMMARY,
			PRICE,
			READCOUNT,
			MOVIE_COMMENT,
			MOVIE_GRADE,
			CREATE_DATE
		FROM MOVIE_INFO
	</sql>
	
	<resultMap type="MovieList" id="MovieDetailResultMap">
		<id property="movieNo" column="MOVIE_NO"/>
		<result property="memberNo" column="MEMBER_NO"/>
		<result property="movieTitle" column="MOVIE_TITLE"/>
		<result property="movieGenre" column="MOVIE_GENRE"/>
		<result property="movieRelease" column="MOVIE_RELEASE"/>
		<result property="movieDirector" column="MOVIE_DIRECTOR"/>
		<result property="movieCast" column="MOVIE_CAST"/>
		<result property="movieRating" column="MOVIE_RATING"/>
		<result property="movieTrailer" column="MOVIE_TRAILER"/>
		<result property="moviePoster" column="MOVIE_POSTER"/>
		<result property="renamedPoster" column="RENAMED_POSTER"/>
		<result property="movieStatus" column="MOVIE_STATUS"/>		
		<result property="img" column="IMG"/>		
		<result property="renamedImg" column="RENAMED_IMG"/>		
		<result property="movieSummary" column="MOVIE_SUMMARY"/>		
		<result property="price" column="PRICE"/>		
		<result property="readCount" column="READCOUNT"/>		
		<result property="movieComment" column="MOVIE_COMMENT"/>		
		<result property="movieGrade" column="MOVIE_GRADE"/>		
		<result property="createDate" column="CREATE_DATE"/>		
	</resultMap>
	
		<resultMap type="Comments" id="CommentsResultMap">
		<id property="cmNo" column="CM_NO"/>
		<result property="cmId" column="CM_ID"/>
		<result property="mNo" column="M_NO"/>
		<result property="content" column="CONTENT"/>
		<result property="regDate" column="REG_DATE"/>
		<result property="upDate" column="UP_DATE"/>		
	</resultMap>

    <!-- 영화 상세내역, 영화포스터, 줄거리 조회  -->
	<select id="selectMovieDetail" parameterType="_int" resultMap="MovieDetailResultMap">
		<include refid="MovieDetailSql" />
		WHERE MOVIE_NO = #{no}
	</select>
	
	
	<!-- 댓글 관련 쿼리  -->
	
<!--     <delete id="deleteAll" parameterType="_int">
        DELETE FROM comment
        WHERE  bno = #{bno}
    </delete> -->

    <select id="countComments" parameterType="int" resultType="int">
        SELECT count(*) FROM COMMENTS
        WHERE  M_NO = #{M_NO}
    </select>
    
    <select id="selectAllComments" parameterType="int" resultMap="CommentsResultMap">
        SELECT CM_NO, CM_ID, M_NO, CONTENT, REG_DATE, UP_DATE
        FROM COMMENTS
        WHERE M_NO = #{mNo}
        ORDER BY REG_DATE ASC, CM_NO ASC
    </select>

    <select id="selectComments" parameterType="int" resultMap="CommentsResultMap">
        SELECT CM_NO, CM_ID, M_NO, CONTENT, REG_DATE, UP_DATE
        FROM COMMENTS
        WHERE CM_NO = #{cmNo}
    </select>

    <delete id="deleteComments" parameterType="map">
        DELETE FROM COMMENTS WHERE CM_NO = #{cmNo} AND CM_ID = #{cmId}
    </delete>

    <insert id="insertComments" parameterType="Comments" >
        INSERT INTO COMMENTS
            (CM_NO, CM_ID, M_NO, CONTENT, REG_DATE, UP_DATE)
        VALUES
            (#{cmNo}, #{cmId}, #{mNo}, #{content}, DEFAULT, DEFAULT)
    </insert>


    <update id="updateComments" parameterType="Comments">
        UPDATE COMMENTS
        SET CONTENT = #{content}
          , UP_DATE = DEFAULT
        WHERE CM_NO = #{cmNo} and CM_ID = #{cmId}
    </update>


	
	
</mapper>
