@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

#tSection1 {width: 1200px; margin: auto; margin-top: 50px;}
#tSection2 {width: 1200px; margin: auto; margin-top: 10px; margin-bottom: 50px;}
#title {font-weight:bold; font-size:32px; margin-bottom: 15px;}
#infospan {color: rgb(158, 158, 158); font-size: 16px; font-weight: bold; margin-bottom: 20px;}
#info {font-size: 16px; text-align: right; font-weight: bold;}
#step {text-align: right; color: rgb(127, 127, 127);}
#tagbox {height: 10px;}
#mark {width: 15px;}
#hr {height: 2px; background-color: rgb(224, 224, 224); border: none;}

#tag {height: 15px;}
#tagtitle {font-weight:bold;font-size:18px; margin-top: 60px; line-height: 1px}
#tagdiv1 {display: inline-block; width: 396px; height: 5px; background-color: rgb(244, 217, 91);}
#tagdiv2, #tagdiv3 { display: inline-block; width: 396px; height: 5px; background-color: rgb(224, 224, 224);}


#subtitle {font-weight: bold; font-size: 24px; margin-top: 30px; margin-bottom: 15px;}
#bottom {margin-bottom: 90px; line-height: 10px}

/* choice */
#choice {background-color: rgb(63, 55, 59); font-size: 16px; color: white; line-height: 3em;
        border-radius: 4px;}
#choice > p {margin-left: 20px;}


/* 영화 목록 */

.movieSection {
	width: 100%; height: 48%;
	border: 1px;
}

.movie {
  width: 285px;  margin-bottom: 50px;
  background-color: #f3f3f3;
  float: left;
}

.movie p {font-weight: bold;}

.movie img {
	width: 245px; height: 351px;
	vertical-align: middle;
}

.mySwiper .swiper-button-prev,
.mySwiper .swiper-button-next {
	color: rgb(244, 217, 91); width: 3rem; height: 3rem;
    border-radius: 1.5rem;
    background-color: rgb(63, 55, 59); opacity: 1;}


#wrap {width:275px; padding-top: 10px; line-height: 50px;
    text-align: center; cursor: pointer;}



/* 영화관 */
.container {
    width: 100%;
    min-width: 1100px;
    min-height: 100%;
    margin: -92px 0 -200px 0;
    padding: 92px 0 300px 0;
}

#contents {
    width: 100%;
    margin: 0;
    padding: 40px 0 0 0;
}

/* 영화관 */

.movie_title {margin-bottom: 60px;}
.movie_title ul {overflow: hidden; width: 1050px; margin: 0 auto;}
.movie_title li {float: left; width: 210px; text-align: center; border: 1px solid #c4c4c4; margin-right: -1px;}
.movie_title li a {display: block; padding: 15px 0; font-size: 18px; color: #666; font-weight: 700;}
.movie_title li.active a {background: #333; color: #fff;}

ol, ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.movie-list ol {
    margin-left: -60px;
}

.movie-list ol li {
    overflow: hidden;
    position: relative;
    float: left;
    width: 220px;
    height: 285px;
    margin: 0 0 0 60px;
    padding: 0;
    background-color: #fff;
}

#movieList .movie-list-info img {
    width: 220px; height: 220px;
}

.movie-list > div > ol > li > .infor {background: #fff; text-align: center; border: 1px solid #d9d9d9;}
.movie-list > div > ol > li > .infor {color: #333; font-size: 20px; font-weight: 700; margin-bottom: 20px; padding-top: 5px; padding-bottom: 5px;}

#choiceCinema {margin-top: 20em; margin: auto;}


/* #choicetz {background-color: rgb(249, 249, 249); width: 1200px; height: 50px;} */

/* calendar / btn */
#calendar {width: 20px;}
#date {font-weight:bold; font-size:18px; margin-top: 15px;}
#currentDate {color: rgb(94, 94, 94);}

#btn {width: 100%; text-align: center; margin-top: 20px;}
.btn {
    margin: auto; height: 65px;
    background-color: white;
    border: none; border-radius: 5px; line-height: 1px;
    cursor: pointer;
}

.btn:hover{background-color: rgb(63, 55, 59);}
#p1 {color: red; font-weight: bold;}
#p2 {color: gray;}
#p3 {color: red;}














