@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

#tSection {width: 1200px; margin: auto; margin-top: 50px; margin-bottom: 50px;}
#title {font-weight:bold; font-size:32px; margin-bottom: 15px;}
#infospan {color: rgb(158, 158, 158); font-size: 16px; font-weight: bold; margin-bottom: 20px;}
#info {font-size: 16px; text-align: right; font-weight: bold;}
#step {text-align: right; color: rgb(127, 127, 127);}
#tagbox {height: 10px;}
#mark {width: 15px;}
#hr {height: 2px; background-color: rgb(224, 224, 224); border: none;}

#tag {height: 15px;}
#tagtitle {font-weight:bold;font-size:18px; margin-top: 60px; line-height: 1px}
#tagdiv1 {display: inline-block; width: 396px; height: 5px; background-color: rgb(244, 217, 91);}
#tagdiv2, #tagdiv3 { display: inline-block; width: 396px; height: 5px; background-color: rgb(224, 224, 224);}


#subtitle {font-weight: bold; font-size: 24px; margin-top: 70px; margin-bottom: 15px;}
#bottom {margin-bottom: 90px; line-height: 10px}

/* choice */
#choice {background-color: rgb(63, 55, 59); font-size: 16px; color: white; line-height: 2.5em;
        border-radius: 4px;}
#choice > p {margin-left: 20px;}


/* cinema nav */
nav {
    border: 1.2px solid rgb(158, 158, 158);
    width: 100%; height: 40px; margin-bottom: 30px; background-color: rgb(63, 55, 59);
    border-radius: 4px; 
}

#navi {
    list-style-type: none; height: 100%; padding: 0; margin: 0;}

#navi>li {
    width: 150px;
    height: 100%;
    float: left;
    text-align: center;
    background-color: rgb(63, 55, 59);
}

#navi a {
    text-decoration: none;
    width: 200px;
    height: 100%;
    display: block;
    line-height: 35px;
    text-align: center;
}

#navi>li>ul {
    list-style-type: none;
    display: none;
    float: left;
}

#navi>li>a:hover+ul {
    display: block;
}

#navi>li>a {
	color: white;
}


#navi>li>ul:hover {
    display: block;
}

#navi>li>ul>li {
	float: left;
	width: 30%;
	height: 50px;
	inline-height: 10px;
}

/* movie list */
.movieInfo {
  margin-top: 15px;
}

.movie {
  display: table;
  width: 245px; height: 351px; margin-bottom: 20px;
  background-color: #f3f3f3;
}

.movie .movieInfo + .movieInfo {
  border-left: 1px solid #ccc;
  width: 245px;
  height: 351px;
  background-size: cover;
}

.movie .movieInfo {
  display: table-cell;
  vertical-align: middle; 
  text-align: center;
  padding: 20px;
}

.movie .movieInfo img {width: 245px; height: 351px;}

.checkbox { position: absolute; bottom: 0px; right: 0px; }

/* #choicetz {background-color: rgb(249, 249, 249); width: 1200px; height: 50px;} */

/* calendar / btn */
#calendar {width: 20px;}
#date {font-weight:bold; font-size:18px; margin-top: 15px;}
#currentDate {color: rgb(94, 94, 94);}

#btn {width: 100%; text-align: center; margin-top: 20px;}
.btn {
    margin: auto; height: 65px;
    background-color: white;
    border: none; border-radius: 5px; line-height: 1px;
    cursor: pointer;
}

.btn:hover{background-color: rgb(63, 55, 59);}
#p1 {color: red; font-weight: bold;}
#p2 {color: gray;}
#p3 {color: red;}














* {
  --transition: 0.15s;
  --border-radius: 0.5rem;
  --background: #ffc107;
  --box-shadow: #ffc107;
}

input {
  display: none;
}

input:checked + label {
  opacity: 1;
  box-shadow: 0 0 0 3px var(--background);
}


input:checked + label .cover-checkbox {
  opacity: 1;
  transform: scale(1);
}

input:checked + label .cover-checkbox svg {
  stroke-dashoffset: 0;
}

label {
  display: inline-block;
  cursor: pointer;
  border-radius: var(--border-radius);
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
}



label .cover-checkbox {
  position: absolute;
  right: 5px;
  top: 3px;
  z-index: 1;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--box-shadow);
  border: 2px solid #fff;
  transition: transform var(--transition),
    opacity calc(var(--transition) * 1.2) linear;
  opacity: 0;
  transform: scale(0);
}

label .cover-checkbox svg {
  width: 13px;
  height: 11px;
  display: inline-block;
  vertical-align: top;
  fill: none;
  margin: 5px 0 0 3px;
  stroke: #fff;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  transition: stroke-dashoffset 0.4s ease var(--transition);
  stroke-dashoffset: 16px;
}






