@charset "utf-8";

body {
    width: 710px;
    min-height: 100%;
    margin: 0 auto;
    padding: 80px 100px;
    background-color: #fff;
}

.ci {
    text-align: center;
    margin-bottom: 100px;
}

#required {
    color: #ff0000;
    text-align: end
}

.join {
    text-align: center;
}
#favorite{
    width: 710px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 30px;
}
.check {
    position: absolute;
    right: -5px;
    top: 0;
}

#findId_button {
	position: absolute;
    right: 600px;

}