<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.kh.sum.admin.model.mapper.AdminMapper">
	
	<!-- 회원 리스트 Sql -->
	<sql id="selectMemberListSql">
		SELECT
			MEMBER_NO,
			MEMBER_ID,
			MEMBER_PWD,
			ROLE,
			MEMBER_NAME,
			MEMBER_EMAIL,
			MEMBER_PHONE,
			MEMBER_GENRE,
			MEMBER_POINT,
			ENROLL_DATE,
			STATUS,
			MEMBER_DATE
		FROM MEMBER
	</sql>
	
	<!-- 회원 리스트 resultMap -->
	<resultMap type="Member" id="memberListResultMap">
		<id property="no" column="MEMBER_NO" />
		<result property="id" column="MEMBER_ID"/>
		<result property="password" column="MEMBER_PWD"/>
		<result property="role" column="ROLE"/>
		<result property="name" column="MEMBER_NAME"/>
		<result property="email" column="MEMBER_EMAIL"/>
		<result property="phone" column="MEMBER_PHONE"/>
		<result property="genre" column="MEMBER_GENRE"/>
		<result property="point" column="MEMBER_POINT"/>
		<result property="enrollDate" column="ENROLL_DATE"/>
		<result property="status" column="STATUS"/>
		<result property="birth" column="MEMBER_DATE"/>		
	</resultMap>

	<!-- 회원 수 조회 쿼리 -->
	<select id="selectMemberCount" resultType="_int">
		SELECT COUNT(*) FROM MEMBER
	</select>
	
	<!-- 회원 목록 조회 -->
	<select id="selectMemberAll" resultMap="memberListResultMap">
		SELECT MEMBER_NO, 
			   ROLE,
			   MEMBER_ID,
			   MEMBER_NAME,
			   MEMBER_DATE,
			   MEMBER_EMAIL,
			   MEMBER_GENRE
		FROM MEMBER
	</select>

	<!-- 회원 관리자 및 삭제 변경 
	
	<select id="selectMemberChange" resultMap="memberListResultMap">
		SELECT MEMBER_NO, 
			   ROLE,
			   MEMBER_ID,
			   MEMBER_NAME,
			   MEMBER_DATE,
			   MEMBER_EMAIL,
			   MEMBER_GENRE
		FROM MEMBER
	</select>
	
	<update id="delectMember">
	
	</update>
	-->
	
	
	<!-- 1:1 문의 사항 쿼리문 -->
	<sql id="inquiryListSql">
		SELECT  Q.QNA_NO, 
		        Q.QNA_TITLE, 
		        Q.QNA_CONTENT, 
		        Q.STATUS, 
		        Q.MEMBER_NO, 
		        Q.ANSWER_STATUS, 
		        Q.CREATE_DATE
		FROM QNA Q
		JOIN MEMBER M ON(Q.MEMBER_NO = M.MEMBER_NO)
		WHERE Q.STATUS = 'Y'
	</sql>
	
	<resultMap type="MyQnA" id="inquiryListResultMap">
		<id property="no" column="QNA_NO"/>
		<result property="title" column="QNA_TITLE"/>
		<result property="content" column="QNA_CONTENT"/>
		<result property="status" column="STATUS"/>
		<result property="memberNo" column="MEMBER_NO"/>
		<result property="answerStatus" column="ANSWER_STATUS"/>
		<result property="createDate" column="CREATE_DATE"/>
	</resultMap>
	
	<!-- 1:1 문의 글 조회 -->
	<select id="selectInquiryCount" resultType="_int">
		SELECT COUNT(*) FROM QNA WHERE STATUS='Y'
	</select>

	<select id="selectInquiryAll" resultMap="inquiryListResultMap">
		SELECT  Q.QNA_NO, 
		        Q.QNA_TITLE, 
		        Q.QNA_CONTENT,
		        Q.STATUS, 
		        Q.MEMBER_NO, 
		        Q.ANSWER_STATUS, 
		        Q.CREATE_DATE,
		        M.MEMBER_NAME
		FROM QNA Q
		JOIN MEMBER M ON(Q.MEMBER_NO = M.MEMBER_NO)
		WHERE Q.STATUS = 'Y'
		ORDER BY Q.QNA_NO DESC
	</select>
	
	<select id="selectQnAByNo" parameterType="_int" resultMap="inquiryListResultMap">
      SELECT   Q.QNA_NO, 
              Q.QNA_TITLE, 
              Q.QNA_CONTENT,
              Q.STATUS, 
              Q.MEMBER_NO, 
              Q.ANSWER_STATUS, 
              Q.CREATE_DATE,
              M.MEMBER_NAME
      FROM QNA Q
      JOIN MEMBER M ON(Q.MEMBER_NO = M.MEMBER_NO)
      WHERE Q.STATUS = 'Y' AND QNA_NO = #{no}
   </select>
	
	<!-- 1:1 문의내역 삭제 -->
	<update id="qnaUpdateStatus" parameterType="map">
		UPDATE QNA SET STATUS = #{status} WHERE QNA_NO = #{no}
	</update>
	
	<!-- 영화/영화관/상영시간 등록 -->

	<!-- 영화 등록 테스트 -->
	   <insert id="insertMovie" parameterType="movieList"
	      useGeneratedKeys="true" keyProperty="movieNo" keyColumn="MOVIE_NO">
	      INSERT INTO MOVIE_INFO (
	         MOVIE_NO,
	         MEMBER_NO,
	         MOVIE_TITLE,
	         MOVIE_GENRE,
	         MOVIE_RELEASE,
	         MOVIE_DIRECTOR,
	         MOVIE_CAST,
	         MOVIE_RATING,
	         MOVIE_TRAILER,
	         MOVIE_POSTER,
	         RENAMED_POSTER,
	         MOVIE_STATUS,
	         IMG,
	         RENAMED_IMG,
	         MOVIE_SUMMARY,
	         PRICE,
	         READCOUNT,
	         MOVIE_COMMENT,
	         MOVIE_GRADE,
	         CREATE_DATE
	      )
	      VALUES(
	         SEQ_MOVIE_INFO_NO.NEXTVAL,
	         #{memberNo},
	         #{movieTitle},
	         #{movieGenre},
	         #{movieRelease},
	         #{movieDirector},
	         #{movieCast},
	         #{movieRating},
	         #{movieTrailer},
	         #{moviePoster},
	         #{renamedPoster},
	         DEFAULT,
	         #{img},
	         #{renamedImg},
	         #{movieSummary},
	         #{price},
	         DEFAULT,
	         #{movieComment},
	         #{movieGrade},
	         DEFAULT
	      )
	   </insert>
	
	<!-- 공지사항 쿼리문 -->
	
	<resultMap type="Notice" id="noticeResultMap">
		<id property="noticeNo" column="NOTICE_NO"/>
		<result property="title" column="NOTICE_TITLE"/>
		<result property="content" column="NOTICE_CONTENT"/>
		<result property="createDate" column="CREATE_DATE"/>
		<result property="noticeImg" column="NOTICE_IMG"/>
		<result property="renamedImg" column="RENAMED_IMG"/>
		<result property="status" column="STATUS"/>
		<result property="memberNo" column="MEMBER_NO"/>
	</resultMap>
	
	<select id="selectNoticeCount" resultType="_int">
		SELECT COUNT(*) FROM NOTICE WHERE STATUS='Y'
	</select>
	
	<select id="selectNoticeList" resultMap="noticeResultMap">
		SELECT NOTICE_NO,
				NOTICE_TITLE,
				NOTICE_CONTENT,
				CREATE_DATE,
				NOTICE_IMG,
				RENAMED_IMG,
				STATUS,
				MEMBER_NO
		FROM NOTICE
	</select>
	
	<select id="selectNoticeByNo" parameterType="_int" resultMap="noticeResultMap">
		SELECT NOTICE_NO,
				NOTICE_TITLE,
				NOTICE_CONTENT,
				CREATE_DATE,
				NOTICE_IMG,
				RENAMED_IMG,
				STATUS,
				MEMBER_NO
		FROM NOTICE
		WHERE STATUS = 'Y' AND NOTICE_NO = #{no}
	</select>
	
	<insert id="insertNotice" parameterType="Notice"
			useGeneratedKeys="true" keyColumn="NOTICE_NO" keyProperty="noticeNo">
		INSERT INTO NOTICE (
			NOTICE_NO,
			NOTICE_TITLE,
			NOTICE_CONTENT,
			CREATE_DATE,
			NOTICE_IMG,
			RENAMED_IMG,
			STATUS,
			MEMBER_NO
		)
		VALUES(
			SEQ_NOTICE_NO.NEXTVAL,
			#{title},
			#{content},
			DEFAULT,
			#{noticeImg},
			#{renamedImg},
			DEFAULT,
			#{memberNo}
		)
	</insert>	
</mapper>
